################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/PointOfSale/obj
/src/PointOfSale/PointOfSale.csproj.user
/src/PointOfSale.Domain/obj
